@model AlumniBook3.Models.Discussion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <table class="table-bordered">
        <tr>
            <td>
                <img src="@Html.DisplayFor(model => model.User.PhotoUrl)" /><br />
                @Html.DisplayFor(model => model.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Category.CategoryName)
                @Html.DisplayFor(model => model.Title)
                @Html.DisplayFor(model => model.PostDate)<br/>
                @Html.DisplayFor(model => model.Body)
            </td>
        </tr>
        
    </table>
    <table class ="table">
        @foreach (var item in Model.Replies)
        {
            <tr>
                <td width="200">
                    <img src="@Html.DisplayFor(modelItem => item.User.PhotoUrl)" />
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Title)</p>
                    <div class="text-right">@Html.DisplayFor(modelItem => item.PostDate)</div><br />
                    <p>@Html.DisplayFor(modelItem => item.Body)</p>
</td>
            </tr>
            

        }
    </table>



    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscussionID }) |
    @Html.ActionLink("Reply", "Create", new { ReplyID = Model.DiscussionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
