@model IEnumerable<AlumniBook3.Models.Achievement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            <label>User</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.FirstName) 
            @Html.DisplayFor(modelItem => item.UserProfile.LastName)            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AchievementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AchievementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AchievementID })
        </td>
    </tr>
}

</table>
